<style>
    body {
        background-color:#6b6b6b;
    }

    h3 {
        font-family: sans-serif;
    }

    .button {
        margin: auto;
        align-items: center;
        background-color: #a09c9c;
        border: 2px solid #111;
        border-radius: 8px;
        box-sizing: border-box;
        color: #111;
        cursor: pointer;
        display: flex;
        font-family: Inter,sans-serif;
        font-size: 16px;
        height: 48px;
        justify-content: center;
        line-height: 24px;
        max-width: 100%;
        padding: 0 25px;
        position: relative;
        text-align: center;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }

    .button:after {
        background-color: #111;
        border-radius: 8px;
        content: "";
        display: block;
        height: 48px;
        left: 0;
        width: 100%;
        position: absolute;
        top: -2px;
        transform: translate(8px, 8px);
        transition: transform .2s ease-out;
        z-index: -1;
    }

    .button:hover:after {
        transform: translate(0, 0);
    }

    .button:active {
        background-color: #ffdeda;
        outline: 0;
    }

    .button:hover {
        outline: 0;
    }

    @media (min-width: 768px) {
        .button {
            padding: 0 40px;
        }
    }

</style>
{% extends 'base.html' %}

{% block meta %}
<title>Tambahkan Task Kamu</title>
{% endblock meta %}

{% block content %}  

<div class = "login">
    
    <h1 style="font-family: sans-serif; text-align: center;">Mau ngapain hari ini?</h1>  

        <form method="POST" >  
            {% csrf_token %}  
            <table>  
                <h3 style="text-align: center;">Judul</h3>
                <input type="text" id="title" name="title" style="width: 250px; display: block; margin: auto; border-radius: 10px;">
                <p></p>

                <h3 style="text-align: center;">Deskripsi</h3>
                <input type="text" id="description" name="description" style="width: 250px; display: block; margin: auto; height: 60px; border-radius: 10px;">
                <p></p>

            </table>
            <br>
            <button type="submit" class="button">Tambah</button>
        </form>
        <p></p>
        <button type="submit" class="button"><a href="{% url 'todolist:show_todolist' %}">Kembali</a></button>
</div>  

{% endblock content %}