<style>
    body {
        background: linear-gradient(45deg, purple,cyan); 
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        display: flex;
        min-height: 90vh;
        color: white;
    }
    table {
        margin: auto;
    }

    table .btnlogin_btn {
        display: block;
        margin: auto;
    }

    li{
        transform: translate(-5%);
        list-style: none;
    }

    .login {
        text-align: center;
        color: white;
        background: linear-gradient(to right, rgb(142, 85, 142), rgb(136, 21, 136));
        margin: auto;
        box-shadow:
            0px 2px 10px rgba(0,0,0,0.2),   
            0px 10px 20px rgba(0,0,0,0.3), 
            0px 30px 60px 1px rgba(0,0,0,0.5);
        border-radius: 8px;
        padding: 50px;
    }
    
    .login .form-control {
        border: none;
        background: none;
        box-shadow: 0px 2px 0px 0px white;
        width: 100%;
        color: black;
        font-size: 1em;
        outline: none;
        margin-bottom: 20px;
        margin-top: 20px;   
    }

    .login .btnlogin_btn {
        background: none;
        text-decoration: none;
        color: white;
        box-shadow: 0px 0px 0px 2px white;
        border-radius: 3px;
        padding: 5px 2em;
        transition: 0.5s;
    }

    .login .btnlogin_btn:hover {
        background: white;
        color: dimgray;
        transition: 0.5s;
    }
</style>

{% extends 'base.html' %}

{% block meta %}

<title>Login</title>

{% endblock meta %}

{% block content %}

<div class = "login">

    <h1>Login</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <table>
            <tr>
                <td></td>
                <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
            </tr>
                    
            <tr>
                <td></td>
                <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
            </tr>

            <tr>
                <td></td>
                <td><input class="btnlogin_btn" type="submit" value="Login"></td>
            </tr>
        </table>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
        
    Belum mempunyai akun? <a href="{% url 'todolist:register' %}">Buat Akun</a>

</div>

{% endblock content %}