{% extends 'base.html' %}

{% block content %}
<h1 style="text-align: center;">My To Do List</h1>
<h2 style="text-align: center">Hello, {{user_name}}😊</h2>
<p></p>
<table bgcolor="black" style="width: 600px; text-align: center; margin: auto;">
    <tr bgcolor="grey">
    <th style="width: 100px;">Tanggal</th>
    <th style="width: 100px;">Judul</th>
    <th style="width: 180px;">Deskripsi</th>
    <th style="width: 80px;">Status</th>
    <th colspan="2">Ubah Status Tugas</th>
    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for todo in data_todolist %}
        <tr bgcolor="lightgrey">
            <td>{{todo.date}}</td>
            <td>{{todo.title}}</td>
            <td>{{todo.description}}</td>
            <td>{{todo.is_finished}}</td>
            <td><button style="width: 110px;"><a href="{% url 'todolist:set_status' todo.id %}">Ubah Status</a></button></td>
            <td><button style="width: 110px;"><a href="{% url 'todolist:delete_task' todo.id %}">Hapus</a></button></td>
        </tr>
    {% endfor %}
</table>

<p></p>

<button style="display: block; margin: auto; width: 200px;"><a href="{% url 'todolist:add_todolist' %}">Tambahkan Todolist Baru</a></button>
<p></p>
<button style="display: block; margin: auto;"><a href="{% url 'todolist:logout' %}">Logout</a></button>

{% endblock content %}